/bin/Backend
/bin/Frontend
.vscode/settings.json
.project
.DS_Store
/bin/
src/.DS_Store
src/.DS_Store~Stashed changes
src/.DS_Store
.project
.project
.vscode/launch.json
.settings/org.eclipse.jdt.core.prefs
.classpath
